@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>iCLOTHING, Inc.</h1>
    <p class="lead p-2">A locally owned fashion store located in Columbia City, Missouri, US.</p>
    <p>iCLOTHING, Inc. has three departments, including women, men, and kids. 
        Each department has roughly 7000 – 70000 individual items.
        iCLOTHING, Inc. has had the distinction of receiving the prestigious “Best Fashion Store in Columbia” 7 times in a row.
    </p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Customer", "Index", "Customers")</h2>
    </div>
</div>